<% content_for :title, "Generic" %>
<div class="subwrap">
  <!-- Generic Block -->
  <div class="container">
    <div class="col-xs-7 center-block generic">
      <h1>H1 PAGE TITLE</h1>
      <p>Intro copy atvero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore. cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi. id est laborum et dolorum fuga.</p>
      <h2>H2 Lipsum dolor amet</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <blockquote>
       <span>"</span> My Dad refused to get rid of it after all these years, now 1 know why. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
      </blockquote>
      <p>mque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      <div class="extendimg"><img src="images/yezdi-story2.jpg" alt="images" /></div>

      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <h3>H3 Lipsum dolor amet iste natus error sit</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      <h3>H3 Lipsum dolor amet iste natu</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <h3>H3 Lipsum dolor amet iste natus error sit</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <img src="images/yezdi-story3.jpg" alt="images" />
      <h2>Lipsum dolor amet</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <ul>
        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
        <li>Qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et</li>
        <li>Molestias excepturi sint occaecati cupiditate non provident, quod maxime placeat facere possimus, omnis voluptas assumenda est.</li>
        <li>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum fuga.</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</li>
      </ul>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <div class="form-wrap">
        <h2>Contact us form</h2>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your first name">
            <input type="text" name="name" id="name" class="floating-item-input input-item" value="" />
            <span class="floating-item-label">Name</span>
          </label>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your email">
            <input type="text" name="email" id="email" class="floating-item-input input-item" value=""  />
            <span class="floating-item-label">Email</span>
          </label>
        </div>
        <div class="form-row select-row">
          <label data-error="Please select an option"></label>
           <select class="select-menu" name="selectmenu">
            <option value="">Country</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option 6">Option 6</option>
          </select>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your first name">
            <input type="number" name="name" id="AccountNumber" class="floating-item-input input-item" value="" required />
            <span class="floating-item-label">Phone</span>
          </label>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter Message">
            <textarea class="floating-item-input input-item" name="message" id="message" rows="7" value="" required></textarea>
            <span class="floating-item-label">Message</span>
          </label>
        </div>
        <div class="form-row checkboxradio">
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" name="radiogroup" id="radiobutton1" type="radio" />
            <label class="checkboxradio-label radio-label" for="radiobutton1"><span>Yes</span></label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" name="radiogroup" id="radiobutton2" type="radio" />
            <label class="checkboxradio-label radio-label" for="radiobutton2">No</label>
          </div>
        </div>
        <div class="form-row checkboxradio">
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox1" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox1">Yes</label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox2" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox2">No</label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox3" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox3">Maybe</label>
          </div>
        </div>
        <div class="form-row">
          <a href="#" class="button">PRIMARY BUTTON</a>
          <a href="#" class="button button-primary">SECONDARY BUTTON</a>
        </div>
      </div>
      <!-- accordion -->
      <div class="accordion">
        <div class="accordion-item">
          <h2>H4 Accordion title</h2>
          <div class="accordion-copy"> 
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
          </div>
        </div>
        <div class="accordion-item">
          <h2>H4 Accordion title</h2>
          <div class="accordion-copy"> 
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
          </div>
        </div>
        <div class="accordion-item">
          <h2>H4 Accordion title</h2>
          <div class="accordion-copy"> 
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
          </div>
        </div>
        <div class="accordion-item">
          <h2>H4 Accordion title</h2>
          <div class="accordion-copy"> 
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 