<% content_for :title, "Specification" %>
<div class="specs-wraper">
  <div id="spec-container"   style="background-image:url(images/bike2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 specs-leftcontent specs-col">
          <h3>1964</h3>
          <h1>COLD DELUXE</h1>
          <div class="specs-leftcontent-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
        <img src="images/mobile-specs-bike.jpg" class="specs-mobileimg" alt="images" />
        <div class="col-xs-7 specs-rightcontent specs-col">
          <ul>
            <li>
              <h6>Top speed</h6>
              <h2>110</h2>
              <strong>KM/PH</strong>
            </li>
            <li>
              <h6>0-60KM/PH</h6>
              <h2>4.6</h2>
              <strong>SEC</strong>
            </li>
            <li>
              <h6>MAX GRADABILITY</h6>
              <h2>20</h2>
              <strong>KM/PH</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row section-blk">
    <div class="col-xs-8 engine-blk">
      <h3>THE ENGINE</h3>
      <ul class="table-style">
        <li>
          <strong>Type:</strong>
          <span>2 strock,Air Cooled </span>
        </li>
        <li>
          <strong>Cylinders:</strong>
          <span>2 </span>
        </li>
        <li>
          <strong>Bore & strock:</strong>
          <span>2 </span>
        </li>
        <li>
          <strong>Cubic Capacity:</strong>
          <span>2 </span>
        </li>
        <li>
          <strong>Compression Ratio:</strong>
          <span>2 </span>
        </li>
        <li>
          <strong>Output(BHP):</strong>
          <span>2 </span>
        </li>
        <li>
          <strong>Tarque:</strong>
          <span>2 </span>
        </li>
      </ul>
      <p>starting primary kick can be  started in any gear by depressing the cultch</p>
    </div>
    <div class="total-img"><img src="images/engine.png" alt="images" /></div>
    <div class="col-xs-4 total">
     <ul>
        <li>
          <h2>260</h2>
          <h6>cc</h6>
        </li>
        <li>
          <h2>16</h2>
          <h6>cc</h6>
        </li>
      </ul>
    </div>
  </div>
  <div class="row section-blk">
    <div class="col-xs-6">
      <h3>THE CARBURETTOR</h3>
      <address>
        JIKOV 2926 SED,PACCO P:47Y<br> 
        Main Jet 93 90<br>
        Pilot Jet 47 47<br>
        </address>
    </div>
    <div class="col-xs-6">
      <h3>TRANSMISSION</h3>
      <ul class="table-style">
        <li>
          <strong>Gear Box:</strong>
          <span>4 speed constant mesh</span>
        </li>
        <li>
          <strong>Clutch:</strong>
          <span>5 frection plats running in oil bath automatically operated during gear change</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row break-detail">
    <div class="tyre-set"><img src="images/tyre.png" alt="" /></div>
    <div class="break-blk">
      <h3>BRAKES</h3>
      <ul class="table-style">
        <li>
          <strong>Front Brake:</strong>
          <span>160 mm</span>
        </li>
        <li>
          <strong>Front Drum:</strong>
          <span>Twin cam double leading shoe</span>
        </li>
        <li>
          <strong>Rear Brake:</strong>
          <span>160 mm</span>
        </li>
        <li>
          <strong>Rear Drum:</strong>
          <span>Single cam single leading shoe</span>
        </li>
        <li>
          <strong>Braking Distance:</strong>
          <span>984 mtrs at 40 kmph</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row section-blk">
    <div class="col-xs-6">
       <h3>WHEELS</h3>
       <ul class="table-style">
        <li>
          <strong>Rim:</strong>
          <span>1.86x16 (front& rear)</span>
        </li>
        <li>
          <strong>Tyres:</strong>
          <span>3.25 x 16 x 4 ply{front& rear}</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
       <h3>SUSPENSION</h3>
       <ul class="table-style">
        <li>
          <strong>Front:</strong>
          <span>Telescopic- Hydraulic Travel-130 mm</span>
        </li>
        <li>
          <strong>Rear:</strong>
          <span>Hydraulic Shock Absorbers Travel- 100 mm</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row section-blk">
    <div class="col-xs-6 electric-blk">
      <h3>DIMENSIONS</h3>
      <ul class="table-style">
        <li>
          <strong>Length:</strong>
          <span>2000 mm</span>
        </li>
        <li>
          <strong>Height:</strong>
          <span>1100 mm</span>
        </li>
        <li>
          <strong>Width:</strong>
          <span>750 mm</span>
        </li>
        <li>
          <strong>Weight(dry):</strong>
          <span>131 Kg</span>
        </li>
        <li>
          <strong>Kerb weight:</strong>
          <span>141 Kg(inc fuel)</span>
        </li>
        <li>
          <strong>Wheel Base:</strong>
          <span>1350 mm</span>
        </li>
        <li>
          <strong>Ground Clearance:</strong>
          <span>150 +/-5 mm</span>
        </li>
        <li>
          <strong>Pay Load:</strong>
          <span>130 Kg</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 electric-blk">
      <h3>ELECTRICALS</h3>
      <ul class="table-style">
        <li>
          <strong>Power pack:</strong>
          <span>12 V Electronic Flywheel magneto with CDI</span>
        </li>
        <li>
          <strong>H.T Coil:</strong>
          <span>12 Volts</span>
        </li>
        <li>
          <strong>Battery:</strong>
          <span>12 V; 5 AH,(-Ve)earth</span>
        </li>
        <li>
          <strong>Head Lamp Bulb:</strong>
          <span>12 V; 35 W/35 W</span>
        </li>
        <li>
          <strong>Tail Lamp Bulb:</strong>
          <span>12 V; 5 W</span>
        </li>
        <li>
          <strong>Indicator Bulb:</strong>
          <span>12 V; 10 W(4 nos)</span>
        </li>
        <li>
          <strong>Regulator:</strong>
          <span>12 V; 60 W/80 W</span>
        </li>
        <li>
          <strong>Full Wave Rectfier:</strong>
          <span>12 V; 1.2 amp</span>
        </li>
        <li>
          <strong>Ignition Timing:</strong>
          <span>23 +/-2 BTDC at 3000 RPM</span>
        </li>
        <li>
          <strong>Spark Plug:</strong>
          <span>Mico W225Z or ModiChampion L 87YC</span>
        </li>
        <li>
          <strong>Gap Setting:</strong>
          <span>0.7 mm to 0.8 mm</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--  year Slider -->
<div class="yearproductslider yearproductslider-js bikes-slide">
  <div>
    <div class="yearproduct matchheight ">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1964</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>ROADKING</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike1.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
  <div>
    <div class="yearproduct matchheight">
      <h2>1962</h2>
      <img src="images/yezdi-bike2.png" alt="images" />
      <h4>DELUXE</h4>
      <a href="#">VIEW SPECS</a>
    </div>
  </div>
</div>
<div class="navslider">
  <div class="container">
    <div class="col-xs-8 center-block">
      <div class="yearproducttop-js yearproducttop-css">
        <div><div class="navslider-title">ROADKING</div></div>
        <div><div class="navslider-title">CL11</div></div>
        <div><div class="navslider-title">CLASSIC</div></div>
        <div><div class="navslider-title">175</div></div>
        <div><div class="navslider-title">MONARCH</div></div>
        <div><div class="navslider-title">COLT</div></div>
        <div><div class="navslider-title">MONARCH</div></div>
      </div>
    </div>
  </div>
</div>
