<% content_for :title, "Stories" %>
<div class="subwrap">
  <!-- Story detail Block -->
  <div class="storydetail">
    <div class="container">
      <div class="storydetail-top">
        <img src="images/yezdi-story1.jpg" alt="images" />
        <div class="storydetail-top-content">
          <h2>My Dad refused to get rid of it after all these years, now 1 know why.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip eiusmod
          tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </div>
      <ul class="storydetail-bottom">
        <li>
          <h2>ROADKING</h2>
          <span>1964</span>
        </li>
        <li>
          <h2>RAJJ GOVINDRA</h2>
          <span>KARNATAKA</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- content block -->
  <div class="container">
    <div class="col-xs-7 center-block generic">
      <h2>H2 Lipsum dolor amet</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <div class="extendimg"><img src="images/yezdi-story2.jpg" alt="images" /></div>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      <blockquote>
         <span>"</span>My Dad refused to get rid of it after all these years, now 1 know why. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
      </blockquote>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <h3>H3 Lipsum dolor amet iste natus error sit</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      <h3>H3 Lipsum dolor amet iste natu</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <h3>H3 Lipsum dolor amet iste natus error sit</h3>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <img src="images/yezdi-story3.jpg" alt="images" />
      <h2>Lipsum dolor amet</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <ul>
        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
        <li>Qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et</li>
        <li>Molestias excepturi sint occaecati cupiditate non provident, quod maxime placeat facere possimus, omnis voluptas assumenda est.</li>
        <li>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum fuga.</li>
        <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</li>
      </ul>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
    </div>
  </div>
 <!--  story list -->
  <ul class="storylistblock">
    <li class="yearproduct-content">
      <div>
        <h6>MORE YEZDI</h6>
        <h2>FAMILY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Duis aute irure dolor in reprehenderit.</p>
      </div>
    </li>
    <li class="yearproduct-content">
      <span class="color-code"><strong>#4587</strong> OF 10,000</span>
      <div>
        <h3>It is a long established fact that a reader will be distracted</h3>
        <ul>
          <li>
            <h4>YEZDI ROADKING</h4>
            <h6>1982</h6>
          </li>
          <li>
            <h4>RAJJ GOVIN DA</h4>
            <h6>CHENNAI</h6>
          </li>
        </ul>          
      </div>
      <a href="#" class="button">READ STORY <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
    <li class="yearproduct-content">
      <span class="color-code"><strong>#893</strong> OF 10,000</span>
      <div>
        <h3>They begged me not to cut their Jawa, but 1 went ahead and did it anyway, and what a result!</h3>
        <ul>
          <li>
            <h4>YEZDI DELUXE II</h4>
            <h6>1973</h6>
          </li>
          <li>
            <h4>UMANG SHANKAR</h4>
            <h6>CHANDIGARH</h6>
          </li>
        </ul>
      </div>
      <a href="#" class="button">READ STORY <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
  </ul>
</div> 