<% content_for :title, "Generic" %>

       <%= raw @contents %>
  
    <% content_for :title, "Contact Us" %>
  <!-- Generic Block -->
  <div class="container">
    <div class="col-xs-7 center-block generic">
      <div class="form-wrap">
        <h2>Contact us form</h2>
      
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your first name">
            <input type="text" name="name" id="name" class="floating-item-input input-item" value="" />
            <span class="floating-item-label">Name</span>
          </label>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your email">
            <input type="text" name="email" id="email" class="floating-item-input input-item" value=""  />
            <span class="floating-item-label">Email</span>
          </label>
        </div>
        <div class="form-row select-row">
          <label data-error="Please select an option"></label>
           <select class="select-menu" name="selectmenu">
            <option value="">Country</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option 6">Option 6</option>
          </select>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter your first name">
            <input type="number" name="name" id="AccountNumber" class="floating-item-input input-item" value="" required />
            <span class="floating-item-label">Phone</span>
          </label>
        </div>
        <div class="form-row">
          <label class="floating-item" data-error="Please enter Message">
            <textarea class="floating-item-input input-item" name="message" id="message" rows="7" value="" required></textarea>
            <span class="floating-item-label">Message</span>
          </label>
        </div>
        <div class="form-row checkboxradio">
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" name="radiogroup" id="radiobutton1" type="radio" />
            <label class="checkboxradio-label radio-label" for="radiobutton1"><span>Yes</span></label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" name="radiogroup" id="radiobutton2" type="radio" />
            <label class="checkboxradio-label radio-label" for="radiobutton2">No</label>
          </div>
        </div>
        <div class="form-row checkboxradio">
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox1" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox1">Yes</label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox2" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox2">No</label>
          </div>
          <div class="checkboxradio-row">
            <input class="checkboxradio-item checkboxradio-invisible" id="checkbox3" name="checkgroup" type="checkbox" />
            <label class="checkboxradio-label checkbox-label" for="checkbox3">Maybe</label>
          </div>
        </div>
         <div class="form-row">
          <a href="<%= url_for(action: 'new', controller: 'conta') %>" class="button">PRIMARY BUTTON</a>
          <a href="#" class="button button-primary">SECONDARY BUTTON</a>
  </div>
        
      
    </div>
  </div>
